#touch-canvas{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffdc00;
}
#value-label{
    position: absolute;
    z-index: 2;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}